/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Helpers's base styles.
/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Hanuman', sans-serif , cursive !important;
    font-weight: 400;
    font-size: 15px; //do not change this
}
body {
    touch-action: manipulation !important;
}

// switch
.switch-medium {
    background-color: #8b8b8b !important;
    height: 18px !important;
}

.checked {
    background-color: rgb(59 130 246) !important;
}

.switch-medium small {
    right: calc(100% - 24px) !important;
}

.switch small {
    width: 25px !important;
    height: 25px !important;
    top: -3.5px !important;
}

.switch.checked small {
    background-color: #1470ad !important;
    right: -1px !important;
}

