<div class="container-my-profiles-section relative">
    <div class="container-my-profiles-header">
        <!-- do not do in this  -->
    </div>
    <div class="container-my-profiles-body absolute inset-0 p-6">
        <div class="container-my-profiles-content border rounded-lg bg-white">
            <mat-tab-group>
                <mat-tab label="Overview">
                    <app-overview></app-overview>
                </mat-tab>
                <mat-tab label="Change Password">
                    <app-change-password></app-change-password>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
