.main-content-overview {
    width: 100%;
    display: grid;
    grid-template-columns: 300px calc(100% - 315px);
    gap: 15px;
}

.overview-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 960px) {
    .main-content-overview {
        grid-template-columns: 1fr;
    }
    .overview-image .picture {
        margin: 2em auto 0;
        width: 60%;
    }
}
