<div mat-dialog-title class="custom-dialog-title">
    <b><span class="text-3xl" style="color: white;">ផ្លាស់ប្តូរពាក្យសម្ងាត់អ្នកប្រើប្រាស់</span></b>
</div>
<mat-dialog-content>
    <form [formGroup]="changePassword" #changPasswordNgForm="ngForm">
        <div class="flex flex-col sm:flex-row gap-2">
            <div class="w-full">
                <mat-form-field appearance="outline" class="w-full mb-4 mt-5">
                    <mat-label>ពាក្យសម្ងាត់ថ្មី</mat-label>
                    <input id="name" matInput type="password" [formControlName]="'password'" required #newPassword />
                    <button mat-icon-button type="button" (click)="
                            newPassword.type === 'password'
                                ? (newPassword.type = 'text')
                                : (newPassword.type = 'password')
                        " matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="newPassword.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="newPassword.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    </button>
                    <mat-error>
                        <span
                            *ngIf="changePassword.get('password').hasError('required')">សូមបញ្ចូលពាក្យសម្ងាត់ថ្មី</span>
                        <span *ngIf="changePassword.get('password').hasError('minLength')">ពាក្យសម្ងាត់ត្រូវមានយ៉ាងហោច
                            ៦ខ្ទង់</span>
                        <span *ngIf="changePassword.get('password').hasError('maxLength')">ពាក្យសម្ងាត់ត្រូវមិនលើសពី
                            ២០ខ្ទង់</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full mb-5">
                    <mat-label>បញ្ជាក់ពាក្យសម្ងាត់ថ្មី</mat-label>
                    <input id="name" matInput type="password" [formControlName]="'confirm_password'" required
                        #confirmPassword />
                    <button mat-icon-button type="button" (click)="
                            confirmPassword.type === 'password'
                                ? (confirmPassword.type = 'text')
                                : (confirmPassword.type = 'password')
                        " matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="confirmPassword.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="confirmPassword.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    </button>
                    <mat-error>
                        <span
                            *ngIf="changePassword.get('confirm_password').hasError('required')">សូមបញ្ជាក់ពាក្យសម្ងាត់ថ្មីម្តងទៀត</span>
                        <span
                            *ngIf="changePassword.get('confirm_password').hasError('minLength')">ពាក្យសម្ងាត់ត្រូវមានយ៉ាងហោច
                            ៦ខ្ទង់</span>
                        <span
                            *ngIf="changePassword.get('confirm_password').hasError('maxLength')">ពាក្យសម្ងាត់ត្រូវមិនលើសពី
                            ២០ខ្ទង់</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button
        [disabled]="changePassword.invalid || saving" (click)="submit()">
        <mat-icon *ngIf="!changePassword.disabled" class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
        <mat-progress-spinner *ngIf="changePassword.disabled" [diameter]="24"
            [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>